
<!DOCTYPE html>
<html lang="en" ng-app="blog">
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/lib/angular.js"></script>
    <script src="/javascripts/lib/angular-animate.js"></script>
    <script src="/javascripts/lib/angular-touch.js"></script>
    <script src="/javascripts/lib/ui-bootstrap.js"></script>
</head>
<body>
<%- include body%>
</body>
</html>