<div class="login-box">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="loginUser">用户名:</label>
            <input class="form-control" type="text" id="loginUser" name="name"><br />
        </div>
        <div class="form-group">
            <label for="loginPassword">密码:</label>
            <input class="form-control" type="password" id="loginPassword" name="password"><br />
        </div>
        <button class="btn btn-default" type="submit">登陆</button>
    </form>
</div>